/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.content-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
}
.content-main{
  width:1170px;
  margin:0 auto;
  padding:180px 0 85px;
}
.content-main h1,p{
  text-align:center;
  color:white;
}
.content-main h1{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
  opacity:0.7;
}
.main-txt{
  padding-bottom:15px;
  font-size:18px;
  opacity:0.7;
}
.new_submit,.facebook,.twitter{
  padding:8px 24px;
  margin:15px 0;
  color:white;
  display:inline-block;
  border-radius:4px;
  opacity:0.8;
}
.new_submit span, .facebook span, .twitter span{
  margin-right:8px;
}
.new_submit{
  background-color:#239b76;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
